@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
  font-family: "Poppins", "Segoe UI Emoji", "Segoe UI", "Segoe", "Lucida Sans",
    "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
    /* border: 1px dotted red; */
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

::-moz-selection {
  color: #1b202d;
  background: #869dd6;
}

::selection {
  color: #1b202d;
  background: #869dd6;
}
